<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Find Lee</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script type="text/javascript" src="/supermario/js/phaser.min.js"></script>
  <script type="text/javascript" src="/supermario/js/utils.js"></script>
  <script type="text/javascript" src="/supermario/js/boot.js"></script>
  <script type="text/javascript" src="/supermario/js/preload.js"></script>
  <script type="text/javascript" src="/supermario/js/game.js"></script>
  <link rel="stylesheet" href="http://<%= host %>/blog/css/app.css">
  <style type="text/css">
  body {
    height: 100%;
    margin: 0;
    position: relative;
    box-sizing: content-box;
    padding-bottom: 100px;
  }
  
  #game {
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
  }
  
  .footer {
    position: absolute;
    bottom: 0px;
  }
  </style>
</head>

<body>
  <%- include('./blog/blogTopBar.html', {host:host}) %>
  <script type="text/javascript" src="../supermario/js/main.js"></script>
  <div id="game"></div>
  <%- include('./blog/blogFooter.html') %>
</body>

</html>
