<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live And Move</title>
  <link rel="stylesheet" href="http://<%= host %>/blog/css/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body class="blog-login">
  <%- include('blogTopBar.html') %>
  <div class="form">
    <form class="row large-5">
      <fieldset class="fieldset">
        <legend>Login</legend>
        <div class="row">
          <div class="column large-3">
            <label for="account" class="text-right middle">
              Account
            </label>
          </div>
          <div class="column large-9">
            <input id="account" type="text" placeholder="mail/username">
          </div>
        </div>
        <div class="row">
          <div class="column large-3">
            <label for="password" class="text-right middle">
              Password
            </label>
          </div>
          <div class="column large-9">
            <input id="password" type="password">
          </div>
        </div>
        </fieldset>
        <div class="login button">Login</div>
    </form>
  </div>
  <%- include('blogFooter.html') %>  
  <script type="text/javascript" src="http://<%= host %>/components/jquery/dist/jquery.min.js"></script>
  <script src="http://<%= host %>/blog/js/blog-login.js"></script>
</body>

</html>
