<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Live And Move</title>
  <link rel="stylesheet" href="http://<%= host %>/blog/css/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body class="editor">
  <%- include('blogTopBar.html') %>
    <!-- editor -->
  <div class="row editor-title">
    <input type="text" placeholder="Enter your title here" class="title"></input>
  </div>
  <div class="row">
    <div class="column large-3 editor-author">
      <input type="text" placeholder="Add Author"></input>
    </div>
    <div class="column large-8 editor-tag">
      <input type="text" placeholder="Add A Tag" class="input" data-toggle="tags-dropdown"></input>
      <div class="dropdown-pane" id="tags-dropdown" data-dropdown data-auto-focus="true">
      </div>
    </div>
  </div>
  <div class="row editor-upload-image">
    <button class="button" data-open="uploadImageModal">上传图片</button>
  </div>
  <div class="reveal" id="uploadImageModal" data-reveal>
    <form>
      <input type="file" name="files[]" class="image-file" multiple>
      <span class="file-name"></span>
    </form>
    <button class="button upload">上传</button>
    <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="row editor-text">
    <textarea class="large-6 column markdown"></textarea>
    <div class="large-6 column preview blog-display">
    </div>
  </div>
  <div class="editor-footer">
    <% if(type === 'write') {%>
      <a class="button publish">Publish</a>
    <% } else if(type === 'edit') {%>
      <a class="button update">Update</a>
    <% } %>
  </div>
  <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/marked/marked.min.js"></script>
  <script src="/components/highlightjs/highlight.pack.js"></script>
  <script src="/components/foundation-sites/dist/foundation.min.js"></script>
  <script src="/blog/js/marked-setting.js"></script>
  <script src="/blog/js/blog-editor.js"></script>
  <script src="/blog/js/vendor/jquery.ui.widget.js"></script>
  <script src="/blog/js/jquery.iframe-transport.js"></script>
  <script src="/blog/js/jquery.fileupload.js"></script>
  <script type="text/javascript">
    var type = '<%= type %>';
    var cid = null;
    <% if(type === 'edit') {%>
    cid = <%= cid %>;
    <% } %>
    $(document).foundation();
  </script>
</body>

</html>
