<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Live And Move</title>
  <link rel="stylesheet" href="http://<%= host %>/blog/css/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body class="admin">
  <%- include('blogTopBar.html') %>  
  <div class="row large-9 medium-7 small-11">
    <div class="subjects column large-7">
      <div class="loader" data-loader="circle-side"></div>
      <div class="board-header">
        <p>文章</p>
      </div>
      <ul>
      </ul>
    </div>
    <div class="tags column large-4">
      <div class="loader" data-loader="circle-side"></div>
      <div class="board-header">
        <p>标签</p>
      </div>
      <ul>
      </ul>
      <div class="add-tag">
        <input placeholder="Add a tag..." />
      </div>
    </div>
  </div>
  <%- include('blogFooter.html') %>
  <script type="text/javascript" src="http://<%= host %>/components/jquery/dist/jquery.min.js"></script>
  <script src="http://<%= host %>/blog/js/blog-admin.js"></script>
</body>

</html>
