<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Live And Move</title>
  <link rel="stylesheet" href="http://<%= host %>/blog/css/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body class="blog-login">
  <!-- top bar -->
  <div class="top-bar">
    <div class="logo">
      <a href="">lee</a>
    </div>
    <ul class="top-nav">
      <li><a href="">home</a></li>
      <li><a href="">blog</a></li>
      <li><a href="">contact</a></li>
    </ul>
  </div>
  
  <!-- footer -->
  <div class="footer">
    <p class="copyright">&copy; Desgin by Lee 2016</p>
  </div>
  <script type="text/javascript" src="http://<%= host %>/components/jquery/dist/jquery.min.js"></script>
  <script src="http://<%= host %>/blog/js/blog-admin.js"></script>
</body>

</html>